<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Employee List</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Identify Card</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Department ID</th>
        <th>Role ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.gender}"></td>
        <td th:text="${#dates.format(employee.birthday, 'dd-MM-yyyy')}"></td>
        <td th:text="${employee.identifyCard}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.depId}"></td>
        <td th:text="${employee.roleId}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
