<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/project.css">
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Projects</title>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item--strong header__navbar-item">
                  <div class="header__navbar-icon">
                    <i class="fa-solid fa-building"></i>
                  </div>      
                  Company Management                              
                </li>
            </ul>
            <ul class="header__navbar-list"> 
              <li id="home-select-item" class="header__navbar-item">
                <div class="header__navbar-icon">
                  <i class="icon__header-menu fa-solid fa-home"></i>
                </div> 
                <a href="main.html">Home</a>                   
              </li>      
              <li id="projects-select-item" class="header__navbar-item">
                <div class="header__navbar-icon">
                  <i class="icon__header-menu fa-solid fa-briefcase"></i>
                </div> 
                <a href="projects.html">Dự án</a>                   
              </li>    
              <li class="header__navbar-item"> 
                <div class="header__navbar-icon">
                  <i class="icon__header-menu fa-solid fa-users"></i>
                </div> 
                <a href="departments.html">Nhân sự</a>                   
              </li>                                 
              <li class="header__navbar-item">
                <div class="header__navbar-icon">
                  <i class="icon__header-menu fa-solid fa-pen-to-square"></i>
                </div>  
                <a href="">Điểm danh</a>                   
              </li>
              <li class="header__navbar-item header__navbar-item--separate">
                <div class="header__navbar-icon">
                  <i class="icon__header-menu fa-solid fa-chart-simple"></i>
                </div>  
                <a href="">Thống kê</a>                   
              </li>
              <li class="header__navbar-item header__navbar-item-notify header__navbar-item--separate"> 
                <div class="header__navbar-icon ">
                  <i class="fa-solid fa-bell"></i>
                </div>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h4>Thông báo mới nhận</h4>
                  </header>
                  <ul class="notify__list">
                    <li class="notify__iteam">
                      <span>None</span>
                    </li>
                  </ul>
                  <div class="notify__footer">
                    <a href="" class="btn">Xem tất cả</a>
                  </div>
                </div>                   
              </li>
              <li style="margin-right: -30px;" class="header__navbar-item">                   
                  <button class="btn__img" onclick="openModalUser()">
                    <img src="https://m.media-amazon.com/images/M/MV5BYWJmZmE1YWItYjBjYi00ODU4LTg2MDUtOTQyNWY2NjFlOGM5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTExNDQ2MTI@._V1_.jpg" class="card-img-top" alt="avartar">
                  </button>
              </li>
            </ul>
          </nav>
        </div>     
      </header>
       
      <div class="container">
        <div class="projects">
          <div class="proj_doing">
          <div class="header__list">
            <div class="title__list">
              <i style="color: #0978b9;" class="fa-solid fa-person-running"></i>
              <h4 style="margin-top: 18px; margin-right: 5px; color: #0978b9;">Doing</h2>
              <div class="dropdown" style="margin-top: 18px;">
                <button class="btn dropdown-toggle" style="background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
              </div>
            </div>     
            <div class="box__item-header">
              <div class="input-group mb-3">
                <button class="btn btn__icon">  
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input class="input__find" type="text"></input>
              </div>   
            </div>        
          </div>
          <ul class="list__card" style="background-image: linear-gradient(0,#e9eef1,#bceaf5)">
            <li class="card-item">
              <div class="card" style="width: 18rem;">
                <img src="https://cdn0.iconfinder.com/data/icons/web-development-52/256/66-512.png" class="card-img-top" alt="Task Img">
                <div class="card-body">
                  <h5 class="card-title">Project 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div style="display: flex;">
                    <a href="#" class="btn btn-select-item">Select</a>
                  </div>            
                </div>
              </div>
            </li>
            <li class="card-item" onclick="openModalProj()" >
              <div class="card card__new" style="width: 18rem;" >
                  <button class="btn btn__icon btn__add-project">  
                      <i class="fa-solid fa-plus"></i>
                  </button>
              </div>
            </li>
          </ul>     
          </div>
          <div class="proj_overdue">
            <div class="header__list">
              <div class="title__list">
                <i style="color: #f10372;" class="fa-solid fa-circle-xmark"></i>
                <h4 style="margin-top: 18px; margin-right: 5px; color: #f10372;">Overdue</h2>
                <div class="dropdown" style="margin-top: 18px;">
                  <button class="btn dropdown-toggle" style="background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  </button>
                </div>
              </div>     
              <div class="box__item-header">
                <div class="input-group mb-3">
                  <button class="btn btn__icon">  
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                  <input class="input__find" type="text"></input>
                </div>   
              </div>        
            </div>
            <ul class="list__card" style="background-image: linear-gradient(0,#faeff4,#f8e2ec)">
              <li class="card-item">
                <div class="card" style="width: 18rem;">
                  <img src="https://cdn0.iconfinder.com/data/icons/web-development-52/256/66-512.png" class="card-img-top" alt="Task Img">
                  <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div style="display: flex;">
                      <a href="#" class="btn btn-select-item">Select</a>
                    </div>            
                  </div>
                </div>
              </li>
              
            </ul>     
          </div>      
          <div class="proj_complete">
            <div class="header__list">
              <div class="title__list">
                <i style="color: #0e760e;" class="fa-solid fa-chevron-down"></i>
                <h4 style="margin-top: 18px; margin-right: 5px; color: #0e760e;">Completed</h2>
                <div class="dropdown" style="margin-top: 18px;">
                  <button class="btn dropdown-toggle" style="background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  </button>
                </div>
              </div>     
              <div class="box__item-header">
                <div class="input-group mb-3">
                  <button class="btn btn__icon">  
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                  <input class="input__find" type="text"></input>
                </div>   
              </div>        
            </div>
            <ul class="list__card" style="background-image: linear-gradient(0,#eaf1e9,#dff7df)">
              <li class="card-item">
                <div class="card" style="width: 18rem;">
                  <img src="https://cdn0.iconfinder.com/data/icons/web-development-52/256/66-512.png" class="card-img-top" alt="Task Img">
                  <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div style="display: flex;">
                      <a href="#" class="btn btn-select-item">Select</a>
                    </div>            
                  </div>
                </div>
              </li>  
            </ul>     
          </div>       
        </div>
      </div>
        
        
    </div>
    <div id="modalUser" class="modal">
      <div class="modal__overlay " onclick="closeModalUser()">
      </div>
      <div class="modal__body modal__body-user">
        <div class="modal__inner">         
          <div class="list__items">     
           <div class="item">
               <div class="item__icon">
                 <button class="btn__img" onclick="closeModalUser()">
                   <img src="https://m.media-amazon.com/images/M/MV5BYWJmZmE1YWItYjBjYi00ODU4LTg2MDUtOTQyNWY2NjFlOGM5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTExNDQ2MTI@._V1_.jpg" class="card-img-top" alt="avartar">
                 </button>
               </div>
               <div class="item__title">
                   <li class="user__name">Donald Trump</li>
               </div>
           </div>
           <div class="item">
             <div class="item__icon">
              <i class="fa-solid fa-user"></i>
             </div>
             <div class="item__title">
               <li class="item__title_txt">Tài khoản</li>
             </div>
           </div>
           <div class="item">
             <div class="item__icon">
              <i class="fa-solid fa-paper-plane"></i>
             </div>
             <div class="item__title">
               <li class="item__title_txt">Xin nghỉ</li>
             </div>
           </div>
           <div class="item">
             <div class="item__icon">
              <i class="fa-solid fa-gear"></i>
             </div>
             <div class="item__title">
               <li class="item__title_txt">Cài đặt</li>
             </div>
           </div>
           <div class="item">
             <div class="item__icon">
              <i class="fa-solid fa-calendar-days"></i>
             </div>
             <div class="item__title">
               <li class="item__title_txt">Lịch</li>
             </div>
           </div>
           <div class="item">
             <div class="item__icon">
              <i class="fa-solid fa-right-to-bracket"></i>
             </div>
             <div class="item__title">
               <li class="item__title_txt">
                <a href="index.html">Đăng xuất</a>
               </li>
             </div>
           </div>
         </div>
        </div>   
      </div>
    </div>
    <div id="modalProj" class="modal">
      <div class="modal__overlay" onclick="closeModalProj()">
      </div>
      <div class="modal__body modal__body-newproj">
        <span class="close close__modal" onclick="closeModal()">&times;</span>
        <div class="modal__inner">         
            <div class="form__input-new-proj border">

            </div>
        </div>
      </div>
    </div>
    <script>
      function goto() {
        history.pushState({}, "", "index.html");
        }
    </script>
    <script src="./assets/javascript/modal.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>